
.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

body#body {
  background-color: #fafafa;
}

#menu {
  background-color: #202020; 
  height: 30px;
  margin-bottom: 15px;
}

.icon-email {
  margin-right: 4px;
}
