---
---

$menu-color : #202020;

$file-background : #F8F4D7;
$file-border-color: #BDBDA4;

$code-font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
$code-font-size: 12.7272720336914px; 

.text-file {
  border-style: solid;
  background-color: $file-background;
  border-color: $file-border-color;
  border-width: 2px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: $code-font-family;
  font-size: $code-font-size;
  br {
    line-height: 190%;
  }
}

.github-icon-svg, .twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

#menu {
  background-color: $menu-color; 
  margin-bottom: 15px;
}

.margin-right-0 {
  margin-right: 0px;
}

hr#footer-hr {
  border-top: 2px solid #ccc;
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal;
}

.margin-vertical-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-horizontal-4 {
  margin-right: 4px;
  margin-left: 4px;
}

div#content.page-content h3, p, div#description {
  padding-left: 0px;
}

div#content.page-content {
  padding-left: 0px;
}

.list-inline {
  margin-left: 0px;
}

#twitter-plug {
  margin-top: 25px;
}

#content h2 {margin-bottom: 20px;}

.directory-view {
  padding: 0px 0px;
  ul {
    margin-left: 15px;
  }

  li.directory {
    color: blue;
  }

  li {
    color: black;
  }
}

.yml {
  span {
    margin-left: 10px;
  }

}

.lang-bash {
  line-height: 150%;
}

#links { 
  a.header-link{ 
    background-color: yellow;
    color: black;
  }
}
